
div.containera {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  height: 500px;
}
div.imag {
  height: 300px;
  width: 100%;
  background: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg");
  background-position: center;
  background-size: cover;
}
 
imag {
  width: 100%;
}
h1 {
  font-weight: 600;
  font-size: 36px;
  margin: 0 0 15px;
}
p {
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 30px 0;
}

@media screen and (min-width: 668px) {
  div.containera{
    flex-direction: row;
    width: 100%;
  }
 div.text-containera {
    margin: 0 0px;
    max-width: 660px;
  }
}
@media screen and (min-width: 640px) {
  div.containera {
    max-width: 1200px;
  }
  .titulo1
{
    font-weight: bold;
  font-size: 40px;
  margin-left: -80%;
  margin-top: 0%;
}
.imgTi
{
  border-radius: 200px;
  width: 40%;
  height: 40%;
  margin-left: 10%;

}
.conteudo
{
    margin-left: -80%;
    text-overflow: ellipsis;

}

.botao
{
   width: 200px;
    height: 35px;
    background-color: #FA8072; 
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20%;
    margin-top: 20%;
}
.btn1:hover
{
  background-color:#FF6347;
}
.photo1
{
  margin-top: -30%;
  margin-left:-37vw;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  z-index: 1;
  box-shadow: 0px 0px 10px black;

 
}
}
@media screen and (max-width: 640px) {
  div.containera {
    max-width: 640px;
  }
  .titulo1
{
    font-weight: bold;
  font-size: 20px;
  margin-left: 18%;
  margin-top: -15%;
}
.imgTi
{
  border-radius: 100%;
  width: 60%;
  height: 80%;
  margin-left: 20%;
  margin-top: 10%;

}
.conteudo
{
    margin-left: 0%;
   text-overflow: ellipsis;
    margin-top: -15%;

}

.botao
{
   width: 100px;
    height: 50px;
    background-color: #FA8072; 
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 30%;
}
.btn1:hover
{
  background-color:#FF6347;
}
.photo1
{
  margin-top: -170%;
  margin-left:60%;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  z-index: 1;
  box-shadow: 0px 0px 10px black;

 
}
}
