<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<title>HEAVEN</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Biryani:wght@800&display=swap" rel="stylesheet">  
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet"> 
	<body>
		 
		<div class="banner">
			<nav>
				<a href="index.html">
					<img src="../imagens/Logo.png" style="width: 100px;" >
					<div class="titulo ">HEAVEN</div>
				</a>

				<div style="float: right;">
					<select class="mdb-select md-form" style="background: none; color: white; border: none; margin-top: 10px; margin-right: 10px">
					  <option style="color: #000" value="" disabled selected>Qual seu idioma nativo?</option>
					  <option style="color: #000" value="1"> Português - Brasil </option>
					  <option style="color: #000" value="2">Português - Portugal</option>
					  <option style="color: #000" value="3">Inglês - Americano</option>
					  <option style="color: #000" value="4">Inglês - Britanico</option>
					 
					</select>
				</div>

			</nav>

			<h1 class="h1" style="font-size: 50px; ">HEAVEN <br> INTERCÂMBIO DE IDIOMAS</h1>
			<h2 class="h2" style="font-size: 20px;" > Treine seu Português ou Inglês com um falante nativo. </h2>
			
			 <a href="login.html" > 
				 <button class="btn btn-primary " style="background-color: #FA8072; margin-left: 42%; border: none;">Entre ou Cadastre-se  </button>
			 </a>
		</div>

		<div class="corpo">
			
			<h3 class="h3"  >O Heaven é um portal para comunicação de americanos e brasileiros que querem treinar a fala e a escrita com nativos.</h3>

			<div class="div1">
				<img src="../imagens/icon.png">
				<h4> Envie Mensagens</h4>
				<h5> Participe de bate-papos a qualquer momento. Aprenda e ensine um idioma enviando mensagens de texto para pessoas de outros países.  </h5>
			</div>
			<div class="div2">
				<img src="../imagens/icon2.png">
				<h4> Vídeoconferencia</h4>
				<h5> Faça ligações de vídeo com estrangeiros, pratique sua fala e audição, entenda um pouco mais sobre a cultura e o sotaque de cada país.  </h5>
			</div>

			<div class="div1">
				<img src="../imagens/icon3.png">
				<h4> Faça Amizades </h4>
				<h5> Adicione amigos estrangeiros, faça amizades praticando o seu segundo idioma e conheça mais sobre a cultura e os costumes de outra nação. 

				   </h5>
			</div>
		</div>

		<div class="rodape">
			<a href="index.html">
					<img src="../imagens/Logo.png" style="width: 100px;" >
					<div class="titulo ">HEAVEN</div>
				</a>

            <p class="p " style="margin-top: 12px">
        		Por:  Guilherme Olimpio - 2020
    		 </p>

 		</div>
	</body>
</html>
